* {
	display: block;
}
body {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto
}
input[type="radio"], input[type="checkbox"], label {
	display: inline;
}
label::after {
	content:"";
	display: block;
}
head {
	display: none;
}
input:invalid {
	background: #F0C060;
}
input:valid {
	background: white;
}
input:required {
	background: #aaaaaa;
}
fieldset {
	width: auto;
}
datalist option {
	display: inline;	
}
textarea {
	width: 100%;
}
h1 {
	grid-column: span 2;
	text-align: center;
}