html, body {
    height: 100%;
    margin: 0 8px;
}

body {
    text-align: center;
    display: grid;
    grid-template-rows: min-content min-content auto;
}

div {
    border: thin solid black;
    background-color: beige;
    position: relative;
    top: 0px;
    left: 0px;
}

span {
    font-size: 6em;
    position: absolute;
    border: thin dotted black;
}