* {
	display: block;
	vertical-align: top
}

head {
	display: none;
}

div {
	display: inline-block;
	width: 50px;
	height: 50px;
}

input[type="radio"], input[type="checkbox"], label {
	display: inline;
}

fieldset {
	width: 300px;
}